.portfolioContainer{
    width: 668px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.portfolioButtons{
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-bottom: var(--mb-2);
}

.portfolioButton{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    padding: 0.50rem 0.25rem;
    border-radius: 0.25rem;
    transition: .3s;
    cursor: pointer;
}

.portfolioButton:hover{
    transform: scale(1.1);
    color: var(--container-color);
    background-color: var(--plugin-color);
}

.porfolioProjetos{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 1.8rem;
}

.portfolioButton-active{
    color: var(--container-color);
    background-color: var(--plugin-color);
}

/*=============== BREAKPOINTS ===============*/
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .porfolioProjetos{
        grid-template-columns: repeat(2, 280px);
    }

    .portfolioContainer{
        width: 100%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .porfolioProjetos{
        grid-template-columns: repeat(1, 0.9fr);
    }
  }
  