.skillsContainer{
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.skillContent{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skillTitle{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skillBox{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skillGroup{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: flex-start;
    row-gap: 1rem;
    column-gap: 2rem;
}