.serviceModal{
    display: none;
}

.serviceContent{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    padding: 6rem 0 2rem 2.5rem;
}

.serviceIcon{
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.serviceTitle{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.servicesButton{
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.service__button-icon{
    font-size: 1rem;
    transition: 0.3s;
}

.service__button-icon:hover{
    transform: translateX(00.25rem);
}

.serviceModal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.serviceModal-content{
    width: 500px;
    position: relative;
    background-color: var(--container-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.serviceModal-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.serviceModal-title,
.serviceModel-description{
    text-align: center;
}

.serviceModal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.serviceModel-description{
    font-size: var(--small-font-size);
    padding: 0 3.5rem;
    margin-bottom: var(--mb-2);
}

.serviceModal-services{
    row-gap: 0.75rem;
}

.serviceModal-service{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.serviceModal-icon{
    color: var(--title-color);
    font-size: 1.1rem;
}

.serviceModal-info{
    font-size: var(--small-font-size);
}

.active-modal{
    opacity: 1;
    visibility: visible;
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .serviceContent{
        padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    }

    .serviceIcon{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 576px) {
    .serviceModal-content{
        padding: 4.5rem 1.5rem 2.5rem;
    }

    .serviceModel-description{
        padding: 0;
    }
}

@media screen and (max-width: 350px) {
    .serviceContent{
        padding-right: 6rem;
    }
  }