.homeTitle{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-1);
}

.hand{
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

.homeSubTitle{
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.homeSubTitle::before{
    content: ' ';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.homeDescription{
    max-width: 400px;
    margin-bottom: var(--mb-3);
}