.aboutContainer{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.aboutImage{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.aboutInfo{
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.aboutDescription{
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .aboutContainer{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .aboutImage{
        width: 220px;
    }

    .aboutData{
        text-align: center;
    }

    .aboutInfo{
        justify-content: center;
    }

    .aboutDescription{
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
  }
  
  @media screen and (max-width: 576px) {
    .aboutInfo{
        grid-template-columns: repeat(3, 1fr);
    }

    .aboutDescription{
        padding: 0;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .aboutInfo{
        grid-template-columns: repeat(2, 1fr);
    }
  }