.funfactsContainer{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.funFactsImage{
    width: 360px;
    border-radius: 1.5rem;
    justify-self: center;
}

.funFactsInfo{
    grid-template-columns: repeat(2, 280px);
    gap: 1rem;
    margin-bottom: var(--mb-1);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .funfactsContainer{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .funFactsImage{
        width: 220px;
    }

    .funFactsInfo{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 576px) {
    .funFactsInfo{
        grid-template-columns: 1fr;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    :root {
      --big-font-size: 2.25rem;
    }
  
    .container {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  }