.contactContainer{
    max-width: 968px;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
}

.contactContent-title{
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.contactContent-info{
    grid-template-columns: repeat(3, 270px);
    justify-content: center;
    column-gap: 1.8rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .contactContent-info{
        grid-template-columns: repeat(3, 218px);
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .contactContent-info{
        grid-template-columns: repeat(2, 1fr);
    }

    .contactContainer{
        padding: 1;
    }
  }
  
  @media screen and (max-width: 576px) {
    .contactContent-info{
        grid-template-columns: max-content;
    }    
  }