.funfactsItem{
    border-radius: 0.75rem;
    padding: 1rem 1.35rem;
    text-align: center;
    transition: .3s;
}

.funfactsItem:hover{
    transform: scale(1.06);
}

.funfactsDetails{
    color: var(--plugin-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    font-family: "Cedarville Cursive", cursive;
}

@media screen and (max-width: 992px) {
    .funfactsDetails{
        font-size: var(--small-font-size);
    }
  }
  @media screen and (max-width: 576px) {
    .funfactsDetails{
        font-size: var(--normal-font-size);
    }
  }